@font-face {
    font-family: 'Lemon/Milk';
    font-style: normal;
    font-weight: normal;
    src: local('Lemon/Milk'), url('LemonMilk.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    line-height: 2em;
    width:auto;
}

header {
    height: 20%;
}

h1 {
    font-family: "Lemon/Milk", sans-serif;
    text-align: center;
}

h2 {
    font-family: "Lemon/Milk", sans-serif;
    margin-left: 5%;
}

ul {
    font-family: "Lemon/Milk", sans-serif;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: center;
    margin: 0 0 2%;
}

li {
    display: inline-block;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 800;
    border: solid 1px;
}

li a:hover {
    text-decoration: none;
    border: solid 1px;
    transition: 0.1s;
}

.quizz {
    margin-top: 2%;
    margin-left: 5%;
    font-size: 24px;
}

strong, h5 {
    font-size: 1.4em;
}

.row {
    margin:0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}


/*================================================*/
/*=============QUIZZ MULTI ETAPES=================*/
/*================================================*/
/*#regForm {*/
    /*background-color: #ffffff;*/
    /*margin: 100px auto;*/
    /*padding: 40px;*/
    /*width: 70%;*/
    /*min-width: 300px;*/
/*}*/

/*input {*/
    /*padding: 10px;*/
    /*width: 100%;*/
    /*font-size: 17px;*/
    /*border: 1px solid #aaaaaa;*/
/*}*/


/*input.invalid {*/
    /*background-color: #ffdddd;*/
/*}*/


/*.tab {*/
    /*display: none;*/
/*}*/

/*.step {*/
    /*height: 15px;*/
    /*width: 15px;*/
    /*margin: 0 2px;*/
    /*background-color: #bbbbbb;*/
    /*border: none;*/
    /*border-radius: 50%;*/
    /*display: inline-block;*/
    /*opacity: 0.5;*/
/*}*/

/*.step.active {*/
    /*opacity: 1;*/
/*}*/

/*.step.finish {*/
    /*background-color: #4CAF50;*/
/*}*/

/*================================================*/
/*================================================*/
/*================================================*/